:host {
  display: block;

  background-color: var(--color-neutral-10);
  border-bottom: 1px solid var(--color-neutral-8);
}

.pqev-header {
  &__container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__theme-icone {
    font-size: var(--font-size-6);
  }
}
