:host {
  display: block;
}

.home {
  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    background-color: var(--color-neutral-10);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 12px;
    border-radius: 12px;
  }

  &__icon {
    font-size: 5rem; //80px
    color: var(--color-neutral-8);
  }

  &__title {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    font-size: var(--font-size-6);
    font-weight: bold;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  }

  &__result {
    &-title {
      display: block;
      font-size: var(--font-size-2);
      text-align: center;
    }

    &-value {
      display: block;
      font-size: var(--font-size-8);
      text-align: center;
      font-weight: bold;
      color: var(--color-secondary-5);
    }

    &-sub-title {
      font-size: var(--font-size-1);
      text-align: center;
    }
  }
}
