@use '@angular/material' as mat;
@use 'theme-material' as theme;

html {
  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: 'Plus Jakarta Sans',
      density: 0,
    )
  );
}

body {
  color-scheme: light;

  &.body--dark {
    color-scheme: dark;
  }
}
